@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/*importing the font for the header*/


/*============= CSS For all pages ============= */

html {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
 background-color: white; 
 /*background-color: #2A2C2B;*/
}
.page-main{
  flex-grow: 1;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);

}
header{
  overflow: hidden;
  color:#2A2C2B;
 /* color: #BDC3C7;*/
  font-family: 'Dancing Script', cursive;
  font-size: 7vw;
  line-height: 1;
  text-align: center;
}

/*Hiding the Mobile Nav on Desktop */
div.nav-mobile{
  display: none;
  visibility: hidden;
}

/*Desktop Navigation*/
nav.nav-desktop{
  text-decoration: none;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;

}
ul.nav-desktop{
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #2A2C2B;
  /*background-color: #0092B2;*/
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;
}
li.nav-desktop{
  padding: 1em;
  
}
li.nav-desktop a{
  display: block;
  color: white;
  text-align: center;
  padding: 0.5em 0.5em;
  text-decoration: none;
  overflow: hidden;
  
}
li.nav-desktop a:hover{
  background-color:black;
}

/* Divider Line */
.divider{
  margin-top: 2em; 
  margin-left: 4em; 
  margin-right: 4em; 
  overflow: hidden;
  color: #BDC3C7;
}

section.half{
  box-sizing: border-box;
  width: 50%;
  float: left;
  overflow: hidden;
}

/* ============== CSS For index.html (Homepage) =============*/



#reasons-to-book{
  text-align: justify;
  margin-top: 1em;
  padding-top: 1em;
  margin-left: 1em;
  padding-right: 1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#reasons-img{
  width: 40%; 
  float: left; 
  padding-right: 
  1em; padding-bottom: 
  0.5em;
}

.header2{
  font-size: 3em;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

/*Location Card*/
#contact-small{

  margin-left: 15%;
  margin-top: 2%;
  margin-right: 15%;
  color: white;
  background-color: #006075;
  padding: 1em 1em 1em 1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
  text-align: center;
}
#aside-h2{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 3em;
}



/*Slideshow*/
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  padding-left: 5%;
  padding-top: 1%;
  overflow: hidden;
  
}
/* Caption text - slideshow */
.text {
  color: #f2f2f2;
  font-size: 1em;
  padding: 8px 5px;
  position: absolute;
  right:0.5%;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: -1px 1px 0 #000;
}
.numbertext {
  color: #f2f2f2;
  font-size: 1em;
  padding: 20px 12px;
  position: absolute;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: -1px 1px 0 #000;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* ================ rooms.html CSS ==================== */
h2.room-header{
  font-size: 4em;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: #2A2C2B;
}
table#features-table{
  overflow: hidden;
  text-align: center;
  width:100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #374140;
  font-weight: 550;
}
img.room-feature-icon{
  height: 2.5em;
  width: 2.5em;
}
h3.rooms-header{
  font-size: 2.5em;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: #2A2C2B;
}
img.rooms-imgs{
  width: 45%;
  float: left;
  padding-right: 1em;
}
div.room-info{
  text-align: justify;
  margin-top: 1em;
  padding-top: 1em;
  margin-left: 0.5em;
  padding-right: 1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.room-price{
  background-color: #006075;
  white-space: nowrap;
  float: right;
  font-size: larger;
  color: white;
}

/* =================== attractions.html ============== */
div.attraction-top{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
}
section.attractions{
  box-sizing: border-box;
  width: 50%;
  float: left;
  overflow: hidden;
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
img.attraction-img{
  max-width: 17em;
  float: left;
  padding-right: 1em;
}
div.attraction-info{
  padding-top: 1.5em;
}
p.attraction-link a{
  float: left;
  font-size: larger;
  color: black;
  font-weight: bolder;
  text-decoration: none;
}
p.attraction-link{
  margin-top: 3em;
}

/* ============= aboutus.html ======= */


.faq-container{
justify-content: center;
width: 60%;
overflow: hidden;
float: left;

}

.faq-page {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;

}
.faq-body{
  margin: auto;
  /* text-align: center; */
 width: 50%; 
 padding: auto;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}
.faq-body a{
  font-weight: bold;
  color: #000;
}

.active,
.faq-page:hover {
  background-color: #F9F9F9;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.faq-page:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

section.reviews-container{
  box-sizing: border-box;
  width: 30%;
  /*padding: 2%;*/
  float: right;
  overflow: hidden;
  margin-right: 5%;
}
#review-head{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

div.review{
 /* border: 2px solid #ccc;*/
  background-color: #eee;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.review::after {
  content: "";
  clear: both;
  display: table;
}
.review img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}
.review span {
  font-size: 20px;
  margin-right: 15px;
}

/* ========== contactus.html ======== */
section.contact-container{
  float: left;
  width: 25%;
  box-sizing: border-box;
  margin-left: 2.5%;
}
div.contact-details{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.contact-details a{
  /*text-decoration: none;*/
  font-weight: 400;
  color: #2A2C2B;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #006075;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #00222a;
}
.contact-form-container {
  width: 60%;
  float: right;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* ============ Mobile CSS ==================== */

@media only screen and (max-width: 640px) {


  /*========= Mobile CSS for all Pages ===== */

  header{
    font-size: 15vh;
    font-weight: bolder;
  }

  /*Hiding Desktop Nav*/
 nav.nav-desktop{
    display: none;
    visibility: hidden;
    
  }

  section.half{
    width: 100%;
    overflow: hidden;
  }

  /* Mobile Navigation */
  div.nav-mobile{

    visibility: visible;
    display: inline;
    z-index: 3;
  }
  .nav-mobile {
    visibility: visible;
    display: inline;
    z-index: 3;
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    z-index: 3;
  }
  .nav-mobile .menu-items {
    display: flex;
    z-index: 3;
  }
  .nav-mobile .nav-container li {
    list-style: none;
    z-index: 3;
  }
  .nav-mobile .nav-container a {
    text-decoration: none;
    color:#2A2C2B;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  .nav-mobile .nav-container a:hover{
      font-weight: bolder;
  }
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .nav-mobile .menu-items {
    padding-top: 120px;
    background-color: white;
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  .nav-mobile .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
 
 
 /* ======== index.html Mobile ===== */
 
 
  #reasons-to-book{
    width: 95%;
    margin-left: 2%;
  }
  #reasons-img{
    width:95%;
    float: inline-end;
    
  }
  #contact-small{
    width: 90%;
    margin-left: 0%;
    overflow: hidden;
  }

  /* ========= attractions.html mobile =========*/
  section.attractions{
    width: 100%;
    overflow: hidden;

  }

  /* ========= aboutus.html mobile */
  section.faq-container{
    width: 100%;
    overflow: hidden;
  }
  .review {
    text-align: center;
}
  .review img {
    margin: auto;
    float: none;
    display: block;
}
section.reviews-container{
  width: 100%;
  overflow:hidden;
  float: left;
  margin:auto
}

/* ============ contactus.html mobile ======*/
section.contact-container{
  width: 100%;
  overflow: hidden;
}
section.contact-form-container{
  width: 89%;
  overflow:hidden;
}
}